<a href="https://colab.research.google.com/github/95hj/kaggle_practice/blob/main/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EC%97%B0%EC%8A%B5_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
fruits = ['사과', '블루베리', '귤','블루베리', '바나나', '바나나', '사과']
one=pd.get_dummies(fruits)
one

   귤  바나나  블루베리  사과
0  0    0     0   1
1  0    0     1   0
2  1    0     0   0
3  0    0     1   0
4  0    1     0   0
5  0    1     0   0
6  0    0     0   1

In [4]:
height_weight_dict = {'키' : [1.7, 1.5, 1.8], '몸무게' : [75,55,60]}
df = pd.DataFrame(height_weight_dict, index = ['광일', '혜성', '덕수'])
df

      키  몸무게
광일  1.7   75
혜성  1.5   55
덕수  1.8   60

In [5]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(df)
df_scaled=scaler.transform(df)

print(df_scaled)

[[0.66666667 1.        ]
 [0.         0.        ]
 [1.         0.25      ]]

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)
df_scaled

array([[ 0.26726124,  1.37281295],
       [-1.33630621, -0.98058068],
       [ 1.06904497, -0.39223227]])

In [17]:
import numpy as np
from sklearn.model_selection import KFold, StratifiedKFold

data = np.arange(10)
folds = KFold(n_splits=5, shuffle = True)

for (train_idx, valid_idx) in folds.split(data):
  print(f'훈련 데이터 : {data[train_idx]}, 검증 데이터 : {data[valid_idx]}')

훈련 데이터 : [0 1 2 4 5 6 8 9], 검증 데이터 : [3 7]
훈련 데이터 : [0 1 2 3 5 6 7 8], 검증 데이터 : [4 9]
훈련 데이터 : [0 1 2 3 4 7 8 9], 검증 데이터 : [5 6]
훈련 데이터 : [2 3 4 5 6 7 8 9], 검증 데이터 : [0 1]
훈련 데이터 : [0 1 3 4 5 6 7 9], 검증 데이터 : [2 8]

In [19]:
x= np.array(range(50))
y = np.array(['스팸']*5+['일반']*45)
folds = StratifiedKFold(n_splits=5)

for idx, (train_idx, valid_idx) in enumerate(folds.split(x,y)):
  print(f'KFold {idx+1} 검증 데이터 타깃값:')
  print(y[valid_idx], '\n')

KFold 1 검증 데이터 타깃값:
['스팸' '일반' '일반' '일반' '일반' '일반' '일반' '일반' '일반' '일반']

KFold 2 검증 데이터 타깃값:
['스팸' '일반' '일반' '일반' '일반' '일반' '일반' '일반' '일반' '일반']

KFold 3 검증 데이터 타깃값:
['스팸' '일반' '일반' '일반' '일반' '일반' '일반' '일반' '일반' '일반']

KFold 4 검증 데이터 타깃값:
['스팸' '일반' '일반' '일반' '일반' '일반' '일반' '일반' '일반' '일반']

KFold 5 검증 데이터 타깃값:
['스팸' '일반' '일반' '일반' '일반' '일반' '일반' '일반' '일반' '일반']